<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if(params[:email].nil?)%>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else
        if(@users.nil?) %>
          <tr><td colspan="6">Found 0 result.</td></tr>
        <% else %>
          <tr>
            <td><%= @users.name %></td>
            <td><%= @users.email %></td>
            <td><%= @users.password %></td>
            <td><%= link_to 'Show', @users %></td>
            <td><%= link_to 'Edit', edit_user_path(@users) %></td>
            <td><%= link_to 'Destroy', @users, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
